*{
    margin: 0px;
    padding:0px;
}

body{
    background-color: thistle;
    padding: 40px;
}

section {
    /*display flex cambia el eje principal*/
    display: flex;
    justify-content: flex-end;
   background-color: chocolate;
   padding: 20px;
   gap: 20px;
}
section div {
    width: 200px;
    padding: 10px;
    margin: 10px 0px;
    background-color: aqua;
}